@import "bootstrap-sprockets";
@import "bootstrap";

a {
  text-decoration: none;
}
.container-fluid {
  width: 1170px;
}

body {
  margin: 0;
  // position: hidden;
}


//ヘッダー・ロゴ・
.header {
  height: 120px;
  border-bottom: solid 1px;
  .container-fluid {
    text-align: center;
    #logo {
      font-family: 'Vidaloka', serif;
      font-weight:normal;
      color:#444;
      }
    }
    .row {
      width: 100%;
      height: 100%;
      .nav {
        width:105%;
        height: 100%;
        a{
          margin: 0 15px;
        }
      }
    }
    .user-nav{
      float: right;
    }
  }
  .main-title {
    display:block;
    font-size: 72px;
    line-height:72px;
  }

/* ここまでへっだー */

.top{
  height: 560px;
}

.contents-background{
  margin-top: -20px; //縦マージンを修正
  margin-right: -70px;
  margin-left: -70px;
  background: image-url('hair_salon02.jpg'); //画像をバックグランドに表示
  background-repeat: no-repeat; //リピートなし
  background-size: cover; //要素いっぱいに表示
  background-position: center;
  }

  .content-area01 {
    // margin-top: -20px; //縦マージンを修正
    // height: 580px;
    background: rgba(255,255,255,0.1); //透過
    img{
      width: 100%;
      height: 580px;
      position: center;
      border-bottom: solid 1px;
      // margin-right: 170px;
      // margin-left: 70px;
    }
  }

/* conceptコンテンツ */
  .concept{
    height: 500px;
  }

.content-area02 {
  height: 500px;
  background: rgba(255,255,255,0.3); //透過
  position: hidden;
  h1, p{
    font-size: 50px;
    color: white;
    text-align: center;
    line: 250px;
    vertical-align: bottom;
    opacity: 0.9;//透過
  }
}

/* informationコンテンツ */
.information{
  height: 500px;
  text-align: center;
  border-bottom: solid 1px;
}

/* salon_priceコンテンツ */
.salon_price{
  height: 580px;
  text-align: center;
}

  .picture{
    img{
      max-height: 200px;
      margin: 0 20px;
    }
  }

  .text-contents{
    width: 33%;
    // display: inline-block;
    float: left;
    // position: relative;
    // p{
    //
    //   // position: absolute;
    // }
  }

  .text-contents-btn{
    width: 33%;
    float: left;
  }

/* フッター */
.footer{
  border-top: solid 1px;
  height: 50px;
}


/*form*/
.user_form{
  h2{
    text-align: center;
  }
  .new_user{
    width: 60%;
    margin: 0 20%;
    text-align: center;
  }
}
