<!-- faを使ってアイコン表示 -->
<footer class="footer navbar navbar-fixed">
  <div class="container-fluid">
  <span class="fa fa-twitter"></span>
  <span class="fa fa-facebook"></span>
  <span class="fa fa-instagram"></span>
  </div>
</footer>
